<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
<h3> </h3>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form action="" method="post">

                <div class="form-group">
                    <label for="title">书籍名称</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title">
                </div>
                <div class="form-group">
                    <label for="price">价格</label>
                    <input type="text" class="form-control" id="price" placeholder="Price" name="price">
                </div>
                <div class="form-group">
                    <label for="pub_date">出版日期</label>
                    <input type="date" class="form-control" id="pub_date" placeholder="pub_date" name="pubdate">
                </div>
                <div class="form-group">
                    <label for="publish">出版社</label>
                    <select name="publish" id="" class="form-control">
                        {% for publish in publish_list %}
                            <option value="{{ publish.id }}">{{ publish.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group">
                    <label for="publish">作者</label>
                    <select name="authors" id="" class="form-control" multiple>
                        {% for author in author_list %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <button type="submit" class="btn btn-default pull-right">Submit</button>
                <button href="/books/" class="btn btn-default pull-right">取消</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>