<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
<h3>当前登录用户:{{ request.user.username|default:"匿名用户" }}</h3>
<h3>查询书籍</h3>
<a href="/logout/">注销</a>
<a href="/logout_auth/">注销(logout_auth)</a>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="/book/add/" class="btn btn-primary">添加书籍</a>
             <table class="table table-striped table-hover">
                 <thead>
                      <tr>
                          <th>编号</th>
                          <th>名称</th>
                          <th>价格</th>
                          <th>出版日期</th>
                          <th>出版社</th>
                          <th>作者</th>
                          <th>操作</th>
                      </tr>
                 </thead>
                 <tbody>
                      {% for book in book_list %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ book.title }}</td>
                          <td>{{ book.price }}</td>
                          <td>{{ book.pub_date|date:"Y-m-d" }}</td>
                          <td>{{ book.publisher.name }}</td>
                          <td>
                              {% for author in book.authors.all  %}
                              <span>{{ author.name }}</span>
                                 {% if not forloop.last %}
                                 ,
                                 {% endif %}
                              {% endfor %}
                          </td>
                          <td>
                              <a pk="{{ book.id }}" class="btn btn-info btn-sm ajaxbtn" href="javascript:void(0)">Ajax删除</a>
                              <a href="/book/delete/{{ book.id }}" class="btn btn-danger btn-sm">删除</a>
                              <a href="/book/edit/{{ book.id }}" class="btn btn-warning btn-sm">编辑</a>
                          </td>
                      </tr>
                      {% endfor %}

                 </tbody>
             </table>
        </div>
    </div>
</div>
<hr>
<button id="i1">Go!</button>

<div class="content"></div>

<hr>
<input type="text" id="i1_1">+ <input type="text" id="i2">=<input type="text" id="i3"><button class="cal">计算</button>


<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script>

    $("#i1").click(function () {
        // 发送Ajax请求
        $.ajax({
            url:"/get_publishes/",
            type:"post",
            data:{
                "user":"yuan",
                "pwd":123,
            },
            success:function (res) {
                // JS的Dom操作进行节点的增删改查
                console.log(res);
                console.log(typeof res);
                // 反序列化
                //var  res=JSON.parse(res);
                $(".content").append(res);


            }
        })

    })

    // ajax删除事件
    $(".ajaxbtn").click(function () {
        var id=$(this).attr("pk");
        var _this=$(this).parent().parent();
        // ajax请求
        $.ajax({
            url: "/ajax_del/",
            data:{
                "pk":id
            },
            success:function (res) {
                var res=JSON.parse(res);
                var flag=res["flag"];
                if (flag){
                    // 节点删除操作
                    _this.remove();
                    // 序号调整
                    $("tbody tr").each(function (i) {
                       $(this).children(":first").html(i+1)
                    })


                }
            }
        })

    })

    // 计算事件

    $(".cal").click(function () {


        $.ajax({
            url:"/cal_add/",
            type: "post",
            data:{
                "num1":$("#i1_1").val(),
                "num2":$("#i2").val()
            },
            success:function (res) {
                  var res=res["ret"];
                  $("#i3").val(res);
            }

        })
    })
</script>

</body>
</html>